{"name":"DateGenie","slug":"DateGenie","version":"1.0.0","orientation":"portrait","icon":"./assets/icon.png","userInterfaceStyle":"light","newArchEnabled":true,"splash":{"image":"./assets/splash-icon.png","resizeMode":"contain","backgroundColor":"#ffffff"},"ios":{"supportsTablet":true,"bundleIdentifier":"com.dategenie.app","infoPlist":{"ITSAppUsesNonExemptEncryption":false}},"android":{"adaptiveIcon":{"foregroundImage":"./assets/adaptive-icon.png","backgroundColor":"#ffffff"},"edgeToEdgeEnabled":true,"package":"com.dategenie.app"},"web":{"favicon":"./assets/favicon.png"},"plugins":["expo-mail-composer"],"extra":{"eas":{"projectId":"a688fbfc-0bce-41dd-bc4b-b0aa3982084b"}},"sdkVersion":"53.0.0","platforms":["ios","android"]}